*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html,
body {
    font-size: 12px;
    font-family: "Anta", sans-serif;
    overflow: hidden;
    text-align: center;
    line-height: 1.4;
    overflow: hidden;
    width: 100%;
}

.code,
html,
body {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    position: fixed;
    width:100%;
    margin-top: 1%; 
    z-index: 1000;
    height:60px
  }
  
  .navbar img {
    height: 120px; /* Set image height */ 
  }
  
  .nav-links {
    display: flex;
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .nav-links a {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #08a1e4;;
    
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
  }
  
  .nav-links a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  
  .nav-links a:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d2f40;;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }

  .textTitle{
    font-size: 20px;
    margin-top: 2%;
  }

  .button {
    margin-top: 10%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-image: linear-gradient(to bottom right, #2BF8EA,
  #0DB1AA);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  

  
  
  .nav-links a:hover {
    color: #fff;
  }
  
  .nav-links a:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
  
  .nav-links a:hover:after {
    transform: scaleY(1);
    opacity: 1;
  }

  #googleButton{
    margin-left: 47%;
    margin-top: 3%;
  }
  
  
  

@keyframes wave {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.content {
    color: #fff;
    font-weight: 300;
    margin-top: 10%;
}

.content,
.footer {
    width: 80%;
    position: relative;
    z-index: 100;
}

.code,
.content,
.footer {
    display: flex;
    align-items: center;
    justify-content: center
}

.code,
.content {
    flex-direction: column
}

.footer {
    flex-wrap: wrap;
    max-width: 600px;
    opacity: 0;
    animation: charge .5s .5s forwards
}

.subtitle,
.title {
    margin: 0
}

.footer a {
    text-decoration: none;
    width: 40%;
    padding: 12px 18px;
    font-size: 16px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    color: #fff;
    border: 2px solid;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.footer a:hover {
    background-color: #fff;
    color: #222;
    border-color: #fff;
    border-radius: 50px;
    
}

.subtitle,
.text,
.title {
    backface-visibility: hidden;
}

.titleText {
    font-size: 6.4rem;
    font-weight: 400;
    animation: bounce-in-top 1.8s both;

}

 @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  

.text {
    max-width: 50rem;
    font-weight: 400;
    padding: 2rem 0;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .9);
    opacity: 0;
    animation: charge .5s .3s forwards
}
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

/* .wave {
    opacity: .6;
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 6000px;
    height: 6000px;
    background-image: url(portrait-of-woman-holding-a-laptop-D748DGQ.jpg);
    margin-left: -3000px;
    transform-origin: 50% 48%;
    border-radius: 46%;
    animation: wave 12s infinite linear;
    pointer-events: none
}

.wave2 {
    animation: wave 28s infinite linear;
    opacity: .3
}

.wave3 {
    animation: wave 20s infinite linear;
    opacity: .1
}

.wave {
    background: #000
} */

.code {
    position: relative;
    background-color: #74b9ff;
    z-index: 999
}

.ripple {
    background-position: center;
    transition: background 0.8s
}

.ripple:hover {
    background: #37474F radial-gradient(circle, transparent 1%, #263238 1%) center/15000%;
}

.ripple:active {
    background-color: #37474F;
    background-size: 100%;
    transition: background 0s;
}



/* **********************************************   CHAT FORM ******************************************************************* */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}



