@import url('"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" ');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.leave-button {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #363062; /* Red color */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.leave-button:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}


video#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Ensure the video is behind other content */
}
.container
{
  position: relative;
  width: 1396px;
  max-width: 97%;
  height: calc(100vh - 100px);
  box-shadow: 0 1px 1px rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
  display: flex;
  justify-content: space-between;
  gap: 10px;

}
.container .ANOTHERside
{
  position: relative;
  background: linear-gradient(#E9D5DA,#DDE6ED,#827397);
  overflow: hidden;

}
.both{
  position: relative;
  display: flex;
}


.container .rightSide
{

  flex: 30%;
  background:url(../img/conv.jpeg) ;
  border-right:#d9dbd5;
  z-index: 10;

}
.container .rightSide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.06;
  
}
.header
{
  width: 96%;
  margin: 15px;
  height: 55px;
  background:#f9fafb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-items: center;
  border-color: transparent;
  cursor: pointer;
  
}

.iioonn {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 1rem;
}

.iioonn li {

    list-style-type: none;
    margin-top: 0.4rem;
    padding: 4%;
    color: #18181b;
    font-size: 1em;


}
.userimg
{
position: relative;
width: 40px;
height: 40px;
overflow: hidden;
border-radius:50%;
}

.cover
{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover1
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.IoN-icons li
{
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #ececf6;
  font-size: 2.5em;
  margin-left: 10px;
}
.IoN-icons p {
  color: #eef2ff;
  font-weight: bold;
  display: flex;
  font-size: 1em;
  margin-left: 10px;
  position: relative; 
  top: 0; 
}


.nav-icons li
{
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #52525b;
  font-size: 1em;
  margin-left: 10px;
}

.search-chat
{
  width:  100%;
  margin: 15px;
  height: 55px;
  background:#f9fafb ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-color: transparent;
  cursor: pointer;
  color:#52525b ;
}
.search-icons
{
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #52525b;
  font-size: 1.8em;
  margin-right: 10px;
  margin-bottom: 0% ;
}
.search-icons li

{
  font-size: 1em;
  margin-left: 10px;
}

.chatlist
{
  overflow-y: auto;
  height: 800px; /* Adjust the maximum height as needed */
}

.hidden{
  display: none;
}

.chatlist .block
{
  width: 93.2%;
  display: flex;
  align-items: center;
  padding: 15px;
  background:#f9fafb;
  border-radius: 10px;
  height: 16%;
  margin-top:13px;
  margin-left: 5px;
  border-color: #1F2544;
  cursor: pointer;
  border: none;
  font-size: large;
  
}


.chatlist .block img
{
  width: 45px;
  height: 45px;
  border-radius:50%;
  cursor: pointer;
  margin-left: 5%; 
  
  
}
.chatlist .block .details
{
  position: relative;
  width: 100%;
  
}
.chatlist .block .details .listHead
{
  display: flex;
  justify-content: space-between;
  
}
.chatlist .block .details .listHead h4
{
  font-size: 0.8em;
  font-weight:600 ;
  margin-left:22%;
  color: #18181b;
}
.chatlist .block .details .listHead .time
{
  font-size: 0.75em;
  color: #aaa;
}
.chatlist .block .details .listHead .time
{
  color: #18181b;
}

.message_p
{
  color: #71717a;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.8em;
  margin-left: 21%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



.chatlist .block .detailsss
{
  position: relative;
  width: 100%;
}
.chatlist .block .detailsss .listHeaddd
{
  display: flex;
  justify-content: space-between;
  
}
.chatlist .block .detailsss .listHeaddd h5
{
  font-size: 0.8em;
  font-weight:600 ;
  margin-left:22%;
  color: #18181b;
}
.chatlist .block .detailsss .listHeaddd .Time
{
  font-size: 0.75em;
  color: #18181b;
  
}
.message_p12
{
  color: #71717a;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.8em;
  margin-left: 21%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_p12 b
{
  margin-left:53%;
  margin-top: 5px;
  color: #faf5ff;
  background:#3b82f6;
  min-width: 20px;
  height: 20px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.header1
{
  width: 96%;
  margin: 15px;
  height: 55px;
  background-color:#827397;
  /* background:linear-gradient(#4D4C7D,#526D82); */
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  justify-content: space-between;
  border: none;
  
}
.userimgx
{
position: relative;
width: 40px;
height: 40px;
overflow: hidden;
border-radius:50%;
margin-right: 5px;

}
.userimgx h4
{
  font-weight: 400;
  line-height: 1.2em;
  margin-left: 15px;
}
.navi-icons {
  display: flex;
  list-style-type: none; 
  padding: 0; 
  margin-left: 60vh ; 
}

.navi-icons li {
  margin-right: 25px; 
  cursor: pointer;
  color: #eef2ff;
  font-size: 1.2em;
  display: flex;
  list-style: none;
}
.userimgx {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
}

.userimgx h4 {
  margin-bottom: 0; 
  white-space: nowrap; 
}

.username {
  font-weight: bold; 
  font-size: 1em;
  color: #eef2ff;
}

.status {
  font-style: normal;
  font-weight: normal;
  color: #faf5ff;
  /* background-color: #3b82f6; */
  padding: 5.5px;
  border-radius: 10px; 
  display: inline-block; 
  line-height: 0.5;
  margin-right: 80%;
} 
.chatbox
{
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  padding: 50px;
  overflow-y: auto;
}
.message
{
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;

  color: white;
}
.message p
{
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #654d86;
  border-radius: 10px;
  font-size: 0.9em;
  
}
.message p ::before
{
  content:'' ;
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background:linear-gradient(135deg,#745b96 0%,#745b96 50%, transparent 50%,transparent) ;
}
.message p span
{
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  color: black;
}
.my_message
{
  justify-content: flex-end;
}
.my_message p span
{
  color: white;
}


.his_message
{
  justify-content: flex-start;
}
.his_message p
{
  background:#f4f4f4;
  text-align: left;
  color: black;
}
.message.his_message p ::before
{
  content:'' ;
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background:linear-gradient(225deg,#f4f4f4 0%,#f4f4f4 50%, transparent 50%,transparent) ;
}

.chatbox_input ion-icon
{
  cursor: pointer;
  font-size: 2em;
  color: #827397;
  margin-left: 10px;
}
.chatbox_input ion-icon:nth-child(1)
{
  margin-right: 10px;
}
.chatbox_input input
{
  position: relative;
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
  background: #c5c7c1;
  bottom: 15px;
}



.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
  z-index: 1;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}


.chat-form-container {
	padding: 10px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.online{
  margin-top: 10px;
  margin-left: 30px;

  font-weight: bold;
}

#room-name{
  color: white;
  margin-left: 225%;
}

.btn{
  width: 50px;
  color: black;
  font-weight: bolder;
}




@media (max-width: 700px) {
  
  .ANOTHERside {
    display: none;
  }
  .rightSide h5 , .rightSide .flexb{
    display: none;
  }

  .icn{
    display: none;
  }
}
