*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  


html,
body {
    overflow: hidden;
    text-align: center;
    line-height: 1.4;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.code,
html,
body {
    height: 100vh;
}

nav {
  margin-top: 2%;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -10%;
}


.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
  margin-left: 40px;
}

.navbar-links li:first-child {
  margin-left: 0;
}

.navbar-links li a {
  color: #363062;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  text-decoration: underline;
  color: #ffd700;
}

.container{
  display: flex;
  justify-content: space-between;
  margin-top: -16%;
}

.logo{
  width: 20%;
  margin-left: -56%;
}

.iconmsg{
  width: 50px;
  margin-left: 15%;
  margin-top: 2%;
  animation: anima3 3s ease-in-out infinite;
}

@keyframes anima2 {
  25% {
    transform: translateY(-15px) scale(1.1) rotate(-15deg);
  }

  75% {
    transform: translateY(-15px) scale(1.1) rotate(15deg);
  }

  0% {
    transform: translateY(0) scale(1) rotate(0);
  }
}

.iconMsg{
  width: 40px;
  margin-left: 75%;
  color: #363062;
  animation: anima2 3s ease-in-out infinite;
}

@keyframes anima3 {
  25% {
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(15px);
  }

  0% {
    transform: translateY(0);
  }
}

.left{
  z-index: 111;
  margin-top: -5%;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}

.right{
  margin-right: 5%;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 
  .button {
    margin-top: 5%;
    margin-right: 20%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #FFE867;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .15s ease;
    
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #a3009b;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-image: linear-gradient(to bottom right, #363062,
  #363062);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  

  #googleButton{
    margin-left: 47%;
    margin-top: 3%;
  }
  
  
  

@keyframes wave {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.textTitle{
  font-size: 20px;
  margin-top: 2%;
  margin-left: 5%;
  color: #363062;
}


.titleText {
  font-size: 3rem;
  margin-top: 35px;
  font-weight: 700;
  margin-left: 8%;
  color: #a3009b;
  font-family: 'Times New Roman', Times, serif;
}
.content {
    margin-top: 10%;
}



.content,
.footer {
    width: 80%;
    position: relative;
    z-index: 5;
}

.code,
.content,
.footer {
    display: flex;
    align-items: center;
    justify-content: center
}

.code,
.content {
    flex-direction: column
}

.footer {
    flex-wrap: wrap;
    max-width: 600px;
    opacity: 0;
    animation: charge .5s .5s forwards
}

.subtitle,
.title {
    margin: 0
}



.footer a {
    text-decoration: none;
    width: 40%;
    padding: 12px 18px;
    font-size: 16px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    color: #fff;
    border: 2px solid;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.footer a:hover {
    background-color: #fff;
    color: #222;
    border-color: #fff;
    border-radius: 50px;
    
}

.subtitle,
.text,
.title {
    backface-visibility: hidden;
}


 @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  

.text {
    max-width: 50rem;
    font-weight: 400;
    padding: 2rem 0;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .9);
    opacity: 0;
    animation: charge .5s .3s forwards
}
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

.ripple {
    background-position: center;
    transition: background 0.8s
}

.ripple:hover {
    background: #37474F radial-gradient(circle, transparent 1%, #263238 1%) center/15000%;
}

.ripple:active {
    background-color: #37474F;
    background-size: 100%;
    transition: background 0s;
}

.circle{
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  position: absolute;
  border-radius: 15px; 
  z-index: 10;
}

#btnJoinOurChat{
  z-index: 1111;
}

#login , #register{
  z-index: 11;
}



.bigDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divs{
  width: 20%;
  margin-top: 5%;
  color: white;
  height: 70%;
  border-radius: 20px;
  margin-bottom: 105px;
}

.divs:nth-child(1){
  background-color: #4D4C7D;
}
.divs:nth-child(2){
  background-color: #827397;
}
.divs:nth-child(3){
  background-color: #4D4C7D;
}

.fa-solid {
  font-size: 2em;
  margin-top: 20px; 
}

.text-white{
  margin-top: 15px;
  font-size: large;
}

.divs p{
  margin-top: 10px ;
  font-size: large;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}




